body {
    background-image: linear-gradient(to top,#0D1F22, #2892D7);
    font-family: 'Courier New', Courier, monospace;
    color: #E5F4E3;
}

hr {
    margin: 5rem;
}
#intro img{
    width: 25rem;
    border-radius: 30%;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2 {
    display: flex;
    justify-content: center;
}

#experience-list, #hobby-list {
    display: flex;
    justify-content: space-around;
}

.experience-info h3, .hobby-info h4{
    display: flex;
    justify-content: space-around;
}

.experience-info p, .hobby-info p {
    display: flex;
    justify-content: space-around;
}

#hobby-list h3 {
    display: flex;
    justify-content: center;
}
#about {

}